<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add students</title>
</head>
<body>
    <h3>Add Student Data</h3>
    <p>Name *</p>
    <input type ="text" placeholder="enter your name">
    <p>Rollno *</p>
    <input type ="text" placeholder="enter your roll number">
    <p>Age</p>
    <input type ="text" placeholder="enter your age">
    <p>Branch</p>
    <input type ="text" placeholder="enter your branch">
    <br>
    <br>
    <button type="submit">Submit</button>

</body>
</html>