<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Management</title>
</head>
<body>
    <h2>STUDENT DATA MANAGEMENT</h2>
    <form action = "/submit" method = "post">
    <a href = "add.html" , target = "main">Add Students</a>
    <br>
    <br>
    <a href = "view.html" , target = "main">View Students</a>
    </form>
    <hr>
    <pre>Made by ~ <b>BHAGYA RANJAN</B> 2024UCS2135</pre>
</body>
</html>